<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Exam_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
  
   <servlet>

    <servlet-name>summary</servlet-name>

    <servlet-class>servlet.Summary</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>summary</servlet-name>

    <url-pattern>/summary.html</url-pattern>

  </servlet-mapping>
  
  
   <servlet>

    <servlet-name>Trip</servlet-name>

    <servlet-class>servlet.Trip</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>Trip</servlet-name>

    <url-pattern>/trip.html</url-pattern>

  </servlet-mapping>
  
  
   <servlet>

    <servlet-name>userData</servlet-name>

    <servlet-class>servlet.userData</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>userData</servlet-name>

    <url-pattern>/index.html</url-pattern>

  </servlet-mapping>
  
   <servlet>

    <servlet-name>Login</servlet-name>

    <servlet-class>session.LoginServlet</servlet-class>

  </servlet>

  <servlet-mapping>

    <servlet-name>Login</servlet-name>

    <url-pattern>/LoginServlet.html</url-pattern>

  </servlet-mapping>
  
</web-app>